HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
.gradle
/build/
/buildSrc/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Node #####
**/node_modules/
*/package-lock.json

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/*
!.vscode/settings.json
.DS_Store
.vscode/settings.json

### Cursor IDE ###
.cursorrules
/doc/

### JCO ###
*.log
*.trc

.gradle/
gradle/wrapper/*.zip
*.zip
