<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="SERVER-HEADER" value="cjfw"/>
  <property name="APP_NAME" value="batchserver"/>
  <property name="FILE_NAME" value="cjfw-wms-batch"/>
  <property name="LOG_PATH" value="${LOG_PATH:-/logs/was/batch}"/>
  

  <!-- 콘솔 로그 출력 -->
  <appender name="TEXT_CONSOLE_COLOR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <Pattern>%yellow([${APP_NAME}]) %d{HH:mm:ss.SSS} %highlight(%5level) %cyan([%logger.%method:line%line]) - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="TEXT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <Pattern>[${APP_NAME}][%d{HH:mm:ss.SSS}][%-5level][%logger.%method:line%line] - %msg%n</Pattern>
    </encoder>
  </appender>
    
  <appender name="TEXT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_PATH}/${FILE_NAME}.log</File>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>[${APP_NAME}][%d{HH:mm:ss.SSS}][%-5level][%logger.%method:line%line] - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/${FILE_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <!-- 각 로그 파일의 최대 크기 설정 -->
      <maxFileSize>1GB</maxFileSize>
      <!-- 보관할 최대 로그 파일 수 설정 -->
      <maxHistory>180</maxHistory>
    </rollingPolicy>
  </appender>
  
  <!-- Logstash JSON 형식으로 파일 로그 생성 -->
  <!-- ${LOG_PATH}/${FILE_NAME}.json 파일에 최신 로그 생성 -->
  <!-- ${LOG_PATH}/${FILE_NAME}.%d{yyyy-MM-dd}.%i.json 파일에 과거 로그 보관-->
  <!-- 1GB 초과, 날짜 변경 시점마다 생성, 생성된지 30일 이상된 파일은 삭제 -->
  <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_PATH}/${FILE_NAME}.json</File>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
	<!--Json 형식 정리, 모니터링 시스템과 연동할때는 하기 코드 주석 처리 필요-->
      <jsonGeneratorDecorator class="cjfw.wms.portal.common.logback.PrettyPrintingDecorator"/>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <FileNamePattern>${LOG_PATH}/${FILE_NAME}.%d{yyyy-MM-dd}.%i.json.gz</FileNamePattern>
      <!-- 각 로그 파일의 최대 크기 설정 -->
      <maxFileSize>1GB</maxFileSize>
      <!-- 보관할 최대 로그 파일 수 설정 -->
      <maxHistory>180</maxHistory>
    </rollingPolicy>
  </appender>

  <!-- INFO 레벨 이하 로그를 콘솔 및 파일로 출력 -->
  <!-- 로그 레벨 설정 -->
  <logger name="org.springframework" level="INFO"/>
  <logger name="org.apache" level="ERROR"/>
  <logger name="com" level="ERROR"/>
  <!-- 서버 헤더 기반 동적 로거 레벨 설정. 실제 서버 헤더 값으로 대체 필요 -->
  <logger name="${SERVER-HEADER}" level="DEBUG"/>
  <logger name="common" level="DEBUG"/>

  <springProfile name="local">
    <root level="DEBUG">
      <appender-ref ref="TEXT_CONSOLE_COLOR"/>
    </root>
  </springProfile>
  
  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="TEXT_CONSOLE"/>
      <appender-ref ref="TEXT_FILE"/>
    </root>
  </springProfile>
    
  <springProfile name="qa,prd">
    <root level="INFO">
      <appender-ref ref="TEXT_CONSOLE"/>
      <appender-ref ref="TEXT_FILE"/>
    </root>
  </springProfile>

</configuration>