<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="returnInstanceForEmptyRow" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>

	</settings>
	
	<typeAliases>
		<typeAlias alias="IFDMDOC_HEADER" type="cjfw.batch.scm0160.soap.DTSCM0160SCM$IFDMDOCUMENTH"/>
		<typeAlias alias="IFDMDOC_DETAIL" type="cjfw.batch.scm0160.soap.DTSCM0160SCM$IFDMDOCUMENTD"/>
		<typeAlias alias="HMap" type="java.util.HashMap" />
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" jdbcType="CLOB" javaType="java.lang.String"/>
	</typeHandlers>
	<plugins>
		<!-- <plugin interceptor="cjfw.core.dataaccess.interceptor.StatementInterceptor" /> -->
		<plugin interceptor="cjfw.wms.common.interceptor.MybatisInterceptor" />
	</plugins>

</configuration>